.main-story {
	margin-top: $margin-big;

	&__wrapper {
		min-height: 748px;
		height: 100%;

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 60px;

		@media only screen and (max-width: 630px) {
			grid-template-columns: 1fr;
		}
	}

	&__item {
	}

	&__text {
		margin-top: 24px;
		p {
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}

	&__bg {
		margin-top: 32px;
		display: flex;
		gap: 64px;
		min-height: 540px;

		@include laptop {
			gap: 20px;
		}
	}
		
	&__img {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&:first-child {
			align-self: flex-end;
		}
		&:last-child {
			align-self: flex-start;
		}

		@include laptop {
			&:first-child {
				align-self: stretch;
			}
			&:last-child {
				align-self: stretch;
			}
		}
	}

	&__title {
		font-family: $font-playfair-display;
		font-size: 32px;
		font-weight: 700;
		line-height: 48px;
		color: $color-white;

		span {
			color: $color-bisque;
		}
	}
}
