.form-contact {
	margin-top: $margin-big;

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 113px;

		@include laptop {
			gap: 30px;
		}

		@include tablet {
			grid-template-columns: 1fr;
		}
	}

	&__body {
	}

	&__title {
	}

	&__text {
		margin-top: 24px;
	}

	&__form {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
	}

	&__form-row {
		display: flex;
		align-items: center;
		gap: 32px;

		input {
			width: 100%;
			height: 56px;
			border: 1px solid rgba(255, 255, 255, 0.04);
			font-size: 16px;
			font-weight: 400;
			line-height: 28px;
			color: $color-white;
			padding-left: 32px;

			@media only screen and (max-width: 1295px) {
				padding-left: 12px;
			}

			&::placeholder {
				color: $color-white;
				font-size: 16px;
				font-weight: 400;
				line-height: 28px;
			}
		}

		@include laptop {
			flex-direction: column;
		}
	}

	&__form-message {
		margin-top: 24px;

		textarea {
			resize: none;
			padding: 14px 24px 14px 32px;
			border: 1px solid rgba(255, 255, 255, 0.04);
			width: 100%;
			height: 147px;
			font-size: 16px;
			font-weight: 400;
			line-height: 28px;
			color: $color-white;

			@media only screen and (max-width: 1295px) {
				padding: 14px 24px 14px 12px;
			}

			&::placeholder {
				font-size: 16px;
				font-weight: 400;
				line-height: 28px;
				color: $color-white;
			}

			&::-webkit-scrollbar {
				width: 12px;
			}

			&::-webkit-scrollbar-track {
				background: rgb(31, 29, 33);
			}

			&::-webkit-scrollbar-thumb {
				background: #888;
				border-radius: 10px;
			}

			&::-webkit-scrollbar-thumb:hover {
				background: #555;
			}
		}
	}

	&__btn {
		margin-top: 32px;
		width: 213px;
		height: 64px;
		background: rgb(39, 37, 45);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 12px;

		span {
			font-size: 16px;
			font-weight: 500;
			line-height: 24px;
			color: $color-white;
		}
	}

	&__bg {
		min-height: 583px;
		display: flex;
		justify-content: space-between;
		gap: 20px;

		@include laptop {
			height: 100%;
		}

		@include tablet {
			justify-content: center;
		}

		@include mobile {
			height: 425px;
		}
	}

	&__img {

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&:first-child {
			align-self: flex-end;
		}

		&:last-child {
			align-self: flex-start;
		}

		@include laptop {
			&:first-child {
				align-self: stretch;
			}

			&:last-child {
				align-self: stretch;
			}
		}
	}
}
