.our-menu {
	margin-top: clamp(2.25rem, -0.817rem + 8.92vw, 5.875rem);
	&__suptitle {
	}

	&__about {
	}

	&__line {
	}

	&__row {
		margin-top: 10px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-content: space-between;
		column-gap: 80px;
		height: 100%;

		@include tablet {
			grid-template-columns: 1fr;
			gap: 40px;
		}
	}

	&__title {
	
	}

	&__text { 
	}
}
