.text-about {
	margin-top: $margin-big;

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;

		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr;
			gap: 40px;
		}
	}

	&__item {
	}

	&__title {
		font-family: $font-playfair-display;
		font-size: 32px;
		font-weight: 700;
		line-height: 48px;
		color: $color-white;

		@media only screen and (max-width: 600px) {
			font-size: 26px;
		}
	}

	&__text {
		margin-top: 24px;
	}
}
