.footer {
	margin-top: $margin-big;

	&__line {
		margin-top: 32px;
		width: 100%;
		height: 1px;
		background-color: $color-gray;
	}
}
.footer-up {
	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__nav {
		margin-top: 44px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 40px;

		@media only screen and (max-width: 678px) {
			flex-direction: column;
		}
	}

	&__item {
	}

	&__link {
		color: $color-white;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		transition: all 0.2s ease;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 1px;
			background-color: $color-bisque;
			transition: all 0.2s ease;
		}

		@include any-hover {
			&:hover::before {
				width: 100%;
			}
		}

		@media only screen and (max-width: 678px) {
			font-size: 36px;
		}
	}
}
.footer-down {
	margin: 25px 0px;

	&__row {
		display: flex;
		align-items: center;

		@media only screen and (max-width: 678px) {
			flex-direction: column;
			gap: 40px;
		}
	}

	&__license {
		color: $color-gray;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;

		@media only screen and (max-width: 678px) {
			text-align: center;
			font-size: 26px;
		}
	}

	&__social {
		margin-left: clamp(2.25rem, -18.417rem + 41.33vw, 17.75rem);
		display: flex;
		gap: 24px;

		@media only screen and (max-width: 678px) {
			text-align: center;
			font-size: 26px;
			margin: auto;
		}
	}

	&__icon {
	}

	&__contact {
		margin-left: auto;
		display: flex;
		align-items: center;
		gap: 8px;
		color: $color-white;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;

		@media only screen and (max-width: 678px) {
			margin: auto;
		}
	}
}
