.menu-main {
	margin-top: $margin-big;
	&__suptitle {
	}

	&__about {
	}

	&__line {
	}

	&__head {
		margin-top: 24px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		@include laptop-small {
			flex-direction: column;
			align-items: stretch;
			gap: 40px;
		}
	}

	&__title {
	}

	&__suptitle-main {
		max-width: 450px;
	}

	&__subtitle-main {
		margin-top: 32px;
		color: $color-white;
		font-family: $font-playfair-display;
		font-size: 14px;
		font-weight: 700;
		line-height: 21px;
	}

	&__text {
		max-width: 555px;
	}

	&__card {
		margin-top: 83px;

		@include laptop {
			margin-top: 40px;
		}
	}

	&__button {
		margin-top: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__btn {
	}

	&__link {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 9px;
		color: $color-black;
	}
}
.card-menu {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 32px;

	@include laptop-small {
		grid-template-columns: repeat(2, 1fr);
	}

	@media only screen and (max-width: 645px) {
		grid-template-columns: 1fr;
	}

	&__item {
		display: flex;
		flex-direction: column;
		
		transition: all 0.2s ease;
		&:hover {
			transform: scale(1.10);
		}
	}

	&__img {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__info {
		padding: 24px 32px 18px 32px;
		background-color: #1f1d21;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $color-white;
		flex-grow: 1;

		@include laptop {
			padding: 18px 24px 17px 24px;
		}
	}

	&__name {
		font-family: $font-playfair-display;
		font-size: 20px;
		font-weight: 700;
		line-height: 30px;
		flex-grow: 1;
	}

	&__price {
		font-size: 20px;
		font-weight: 500;
		line-height: 32px;
		margin-left: 10px;
	}
}
